<!DOCTYPE html>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>

<div id="top" style="height: 3%">
</div>
<div id="upper">
    <input id="上海市" type="button" value="上海市"/>
    <input id="云南省" type="button" value="云南省"/>
    <input id="内蒙古自治区" type="button" value="内蒙古自治区"/>
    <input id="北京市" type="button" value="北京市"/>
    <input id="台湾" type="button" value="台湾"/>
    <input id="吉林省" type="button" value="吉林省"/>
    <input id="四川省" type="button" value="四川省"/>
    <input id="天津市" type="button" value="天津市"/>
    <input id="宁夏回族自治区" type="button" value="宁夏回族自治区"/>
    <input id="安徽省" type="button" value="安徽省"/>
    <input id="山东省" type="button" value="山东省"/>
    <input id="山西省" type="button" value="山西省"/>
    <input id="广东省" type="button" value="广东省"/>
    <input id="广西壮族自治区" type="button" value="广西壮族自治区"/>
    <input id="新疆维吾尔自治区" type="button" value="新疆维吾尔自治区"/>
    <input id="江苏省" type="button" value="江苏省"/>
    <input id="江西省" type="button" value="江西省"/>
    <input id="河北省" type="button" value="河北省"/>
    <input id="河南省" type="button" value="河南省"/>
    <input id="浙江省" type="button" value="浙江省"/>
    <input id="海南省" type="button" value="海南省"/>
    <input id="湖北省" type="button" value="湖北省"/>
    <input id="湖南省" type="button" value="湖南省"/>
    <input id="澳门" type="button" value="澳门"/>
    <input id="甘肃省" type="button" value="甘肃省"/>
    <input id="福建省" type="button" value="福建省"/>
    <input id="贵州省" type="button" value="贵州省"/>
    <input id="辽宁省" type="button" value="辽宁省"/>
    <input id="重庆市" type="button" value="重庆市"/>
    <input id="陕西省" type="button" value="陕西省"/>
    <input id="青海省" type="button" value="青海省"/>
    <input id="香港" type="button" value="香港"/>
    <input id="黑龙江省" type="button" value="黑龙江省"/>

    <script>
        $(document).ready(function(){
            $("input").click(function () {
                draw($(this).val())
            })
        });
    </script>
</div>
<div id="middle">
    <h3>左右滑动下方柱状图 右侧可以切换视图</h3>
</div>
<div id="container" style="height: 65%"></div>

<script type="text/javascript">

    draw("湖北省");

    function draw(provinceName) {
        var names;
        var confirmed;
        var dead;
        var cured;
        var suspected;
        $.ajaxSettings.async = false;
        $.get("http://122.112.235.24/api/province?province_name=" + provinceName, function (dataResp, status) {
            names = dataResp["data"]["names"];
            confirmed = dataResp["data"]["confirmed"];
            dead = dataResp["data"]["dead"];
            cured = dataResp["data"]["cured"];
            suspected = dataResp["data"]["suspected"];
        }, "json");

        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        var posList = [
            'left', 'right', 'top', 'bottom',
            'inside',
            'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
            'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
        ];

        app.configParameters = {
            rotate: {
                min: -90,
                max: 90
            },
            align: {
                options: {
                    left: 'left',
                    center: 'center',
                    right: 'right'
                }
            },
            verticalAlign: {
                options: {
                    top: 'top',
                    middle: 'middle',
                    bottom: 'bottom'
                }
            },
            position: {
                options: echarts.util.reduce(posList, function (map, pos) {
                    map[pos] = pos;
                    return map;
                }, {})
            },
            distance: {
                min: 0,
                max: 100
            }
        };

        app.config = {
            rotate: 90,
            align: 'left',
            verticalAlign: 'middle',
            position: 'insideBottom',
            distance: 15,
            onChange: function () {
                var labelOption = {
                    normal: {
                        rotate: app.config.rotate,
                        align: app.config.align,
                        verticalAlign: app.config.verticalAlign,
                        position: app.config.position,
                        distance: app.config.distance
                    }
                };
                myChart.setOption({
                    series: [{
                        label: labelOption
                    }, {
                        label: labelOption
                    }, {
                        label: labelOption
                    }, {
                        label: labelOption
                    }]
                });
            }
        };

        // window.onresize = function () {
        //     echartBar.resize();
        // }

        var labelOption = {
            show: true,
            position: app.config.position,
            distance: app.config.distance,
            align: app.config.align,
            verticalAlign: app.config.verticalAlign,
            rotate: app.config.rotate,
            formatter: '{c}  {name|{a}}',
            fontSize: 16,
            rich: {
                name: {
                    textBorderColor: '#fff'
                }
            }
        };

        option = {
            dataZoom: [
                {
                    type: 'inside',
                    show: false,
                    start: 0,
                    end: 25,
                    zoomlock: true
                }
            ],

            color: ['#003366', '#006699', '#4cabce', '#e5323e'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['确认', '治愈', '疑似', '死亡']
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {show: false},
                    data: names
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '确认',
                    type: 'bar',
                    barGap: 0,
                    label: labelOption,
                    data: confirmed
                },
                {
                    name: '治愈',
                    type: 'bar',
                    label: labelOption,
                    data: cured
                },
                {
                    name: '疑似',
                    type: 'bar',
                    label: labelOption,
                    data: suspected
                },
                {
                    name: '死亡',
                    type: 'bar',
                    label: labelOption,
                    data: dead
                }
            ]
        };;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    }

</script>
</body>
</html>